@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');

body {
    background-color: #ffffff;
    font-family: 'Quicksand', sans-serif;
}
.navbar {
    background-color: #1e2736;
}
#inicio .jumbotron {
    background-image: url("../img/bg-hero.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #ffffff;
}
#acerca-de-mi .content-header {
    font-size: 2.56 rem;
    letter-spacing: 0.1rem;
    font-weight: 500;
}
#acerca-de-mi hr {
    background-color: #000000;
    height: 0.5rem;
}